

/AppHarbor.v12.suo
/HealthDemo.v12.suo
/HServer/obj
/HServer/bin
/HealthDemo/HealthDemo/bin
/HealthDemo/HealthDemo.Android/bin
/HealthDemo/HealthDemo.iOS/bin
/HealthDemo/HealthDemo.iOS/obj
/HealthDemo/HealthDemo/obj
/HealthDemo/HealthDemo.Android/obj
/HealthDemo.userprefs
/HServer/HServer.csproj.user
/files
